/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ec0864;
  --ifm-color-primary-dark: #d4075a;
  --ifm-color-primary-darker: #c90755;
  --ifm-color-primary-darkest: #a50646;
  --ifm-color-primary-light: #f71570;
  --ifm-color-primary-lighter: #f72178;
  --ifm-color-primary-lightest: #f9458d;
  --ifm-code-font-size: 95%;
  /* --ifm-background-color: #000000;
  --ifm-background-surface-color: #000000;
  --collapse-button-bg-color-dark: #000000;
  --ifm-hero-background-color: #18191a; */
}

.docusaurus-highlight-code-line {
  background-color: rgb(77, 119, 246);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* font imports */
@font-face {
  font-family: "Formular Mono";
  src: url("/fonts/FormularMono.woff2") format("woff2"),
    url("/fonts/FormularMono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-SemiBold.woff2") format("woff2"),
    url("/fonts/Roobert-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
